.bg1 {
    background-image: url(./foto/Rectangle\ 161.png);
    width: 100%;
    height: 421px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
.bg2 {
    background-image: url(./foto/Rectangle\ 161\ \(1\).png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}
.bg3 {
    background-image: url(./foto/Mask\ Group\ \(6\).png);
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}